html, body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

html, body, #root, .App {
    height: 100%;
}

.App {
    position: relative;
}

nav {
    position: fixed;
    height: 91px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    z-index: 9999;
    width: 100%;
    background-color: #FFFFFF;
}

.nav-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
}

.nav-wrapper .logo {
    width: 106px;
    height: 50px;
}

.nav-wrapper .shop-btn {
    background-color: transparent;
    border: none;
    padding: 27px 0;
    cursor: pointer;
    font-size: 1rem;
}

.nav-wrapper .shop-btn:focus {
    outline: none;
}

.nav-wrapper .bag-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  padding: 27px 0;
  cursor: pointer;
  position: relative;
}

.nav-wrapper .bag-btn:focus {
    outline: none;
}

.nav-wrapper .bag-btn img {
    height: 22px;
    width: 22px;
}

.nav-wrapper .bag-btn .cart-count {
    position: absolute;
    top: 8px;
    right: -18px;
    top: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    background-color: #47af19;
    color: #2d2d2d;
    text-align: center;
    font-size: 14px;
}

.container {
  position: absolute;
  top: 91px;
  left: 0;
  bottom: 0;
  height: calc(100% - 91px);
  width: 100%;
}

.container .home-container {
    height: 100%;
    width: 100%;
    background: url('./imgs/landing_page.png') no-repeat;
    background-position: 50% 50%;
    background-color: #000000;
    display: flex;
    align-items: center;
}

.container .home-container .home-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: translateX(10%);
}

.home-text {
    margin: 0;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 600;
}

/** shop now btn hover **/
.shop-btn-wrapper {
    padding: 7px;
    width: fit-content;
    background-color: #FFFFFF;
    margin-top: 2rem;
}

.shop-now-btn {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #2d2d2d;
    cursor: pointer;
    background: #FFFFFF;
    font-size: 1rem;
    letter-spacing: .12em;
    line-height: 1;
    font-weight: 600;
    width: fit-content;
}

.shop-now-btn:focus {
    outline: none;
}

.shop-now-span {
    display: block;
    padding: 0.75rem;
}
.shop-now-btn::before, .shop-now-btn::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #2d2d2d;
}

.shop-now-span::before, .shop-now-span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #2d2d2d;
}
.shop-now-btn:hover::before, .shop-now-btn:hover::after{
    width: 100%;
}
.shop-now-btn:hover .shop-now-span::before, .shop-now-btn:hover .shop-now-span::after{
    height: 100%;
}

.shop-now-btn::before, .shop-now-btn::after{
    transition-delay: 0.2s;
}
.shop-now-btn .shop-now-span::before, .shop-now-btn .shop-now-span::after{
    transition-delay: 0s;
}
.shop-now-btn::before{
    right: 0;
    top: 0;
}
.shop-now-btn::after{
    left: 0;
    bottom: 0;
}
.shop-now-btn .shop-now-span::before{
    left: 0;
    top: 0;
}
.shop-now-btn .shop-now-span::after{
    right: 0;
    bottom: 0;
}
.shop-now-btn:hover::before, .shop-now-btn:hover::after{
    transition-delay: 0s;
}
.shop-now-btn:hover .shop-now-span::before, .shop-now-btn:hover .shop-now-span::after{
    transition-delay: 0.2s;
}

.shop-container, .item-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
}

.category-container {
    margin: 40px 0;
}

.shop-container, .category-container, .shop-card, .shop-card-click {
    display: flex;
    flex-direction: column;
}

.shop-heading {
    font-size: 50px;
    margin: 0;
    font-weight: 600;
}

.shop-desc {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 2.25rem;
}

.shop-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.shop-card {
    width: 32%;
}

.shop-card-click {
    cursor: pointer;
}

.shop-item-name {
    font-size: 1.75rem;
    font-weight: 500;
    color: #2d2d2d;
}

a {
    text-decoration: none;
}

.img-container {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.shop-img {
    width: 100%;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.img-container:hover .img-overlay {
    opacity: 1;
}

.bottle-text {
    font-size: 18px;
    font-weight: 300;
}

.shop-item-price {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

.item-container {
    display: flex;
    margin-top: 30px;
}

.item-container .item-pic {
    width: 56%;
}

.item-container .info-container {
    display: flex;
    flex-direction: column;
    width: 44%;
    padding-left: 40px;
}

.item-container .info-container .product-name {
    font-size: 50px;
    font-weight: 500;
    margin: 30px 0;
}

.item-container .info-container .product-desc {
    font-size: 1.1rem;
    margin: 0;
}

.circle {
    height: 100px;
    background-color: red;
    color: #FFFFFF;
}

.circle-text {
    height: 100px;
    background-color: blue;
    color: #FFFFFF;
}

.circle-container, .circle-card {
    width: 100%;
}

@media (min-width: 768px) {
    .shop-container, .item-container {
        width: 760px;
    }
}

@media (min-width: 992px) {
    .shop-container, .item-container {
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .shop-container, .item-container {
        width: 1180px;
    }
}

@media (min-width: 1800px) {
    .shop-container, .item-container {
        width: 1790px;
    }
}
